anyio==3.5.0
asgiref==3.5.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
cymem==2.0.6
fastapi==0.73.0
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.2.0/fr_core_news_md-3.2.0-py3-none-any.whl
h11==0.13.0
idna==3.3
Jinja2==3.0.3
langcodes==3.3.0
MarkupSafe==2.0.1
murmurhash==1.0.6
numpy==1.22.2
packaging==21.3
pathy==0.6.1
preshed==3.0.6
pydantic==1.8.2
pyparsing==3.0.7
requests==2.27.1
smart-open==5.2.1
sniffio==1.2.0
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
starlette==0.17.1
thinc==8.0.13
tqdm==4.62.3
typer==0.4.0
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.17.4
wasabi==0.9.0
